body {
    font-family: Arial;
}

table {
    border-collapse: collapse;
    width: 600px;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
}

th {
    background: #ddd;
    text-align: center;
}

.khoa {
    text-align: center;
    font-weight: bold;
}

.tong {
    font-weight: bold;
    text-align: center;
}

form {
    width: 600px;
    padding: 15px;
    border: 1px solid #000;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.row input,
.row select {
    width: 50%;
    padding: 6px;
    border: 1px solid #555;
}


textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #555;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 8px;
    background: #ccc;
    border: 1px solid #555;
    cursor: pointer;
}
